#ignore node modules
node_modules/

# ignore bundles
client/dist/bundle.js

#ignore db config
dbConfig_ref.js

#ignore data
*.csv

#ignore artillery data
test/stress/data

#ignore newrelic info
newrelic.js

#ignore newrelic log
newrelic_agent.log