#ignore node modules
node_modules/

# ignore bundles
client/dist/bundle.js

#ignore db config
dbConfiguration.js

#ignore data
*.csv

#ignore artillery data
test/stress/data

#ignore newrelic info
newrelic.js